__pycache__/
ASIST_Dataset
input_directory/
saved_models/
.DS_Store ASIST_Dataset/.DS_Store ASIST_Dataset/Data/.DS_Store ASIST_Dataset/Data/Data_A/.DS_Store ASIST_Dataset/Data/Data_A/images/.DS_Store ASIST_Dataset/Data/Data_A/images/BalanceQuestion/.DS_Store ASIST_Dataset/Data/Data_A/images/ReflectionQuestion/.DS_Store ASIST_Dataset/Data/Data_A/images/SetQuestion/.DS_Store ASIST_Dataset/Data/Data_B/.DS_Store src/.DS_Store src/input_directory/.DS_Store src/input_directory/prototypes/.DS_Store src/input_directory/samples/.DS_Store src/input_directory/samples/test_samples/.DS_Store src/input_directory/samples/tst/.DS_Store src/results_log/segmentation/iterative/.DS_Store src/results_log/segmentation/iterative/experiment3/.DS_Store src/sketchformer/.DS_Store src/sketchformer/basic_usage/.DS_Store src/sketchformer/basic_usage/pre_trained_model/.DS_Store src/sketchformer/basic_usage/pre_trained_model/sketch-transformer-tf2-cvpr_tform_cont/.DS_Store src/sketchformer/basic_usage/pre_trained_model/sketch-transformer-tf2-cvpr_tform_tok_dict/.DS_Store
.DS_Store
Documents/
src/sketchformer/basic_usage/pre_trained_model
src/sketchformer/basic_usage/quickdraw_samples
src/sketchformer/basic_usage/tmp_data