
ASIST_Dataset
src/sketchformer/basic_usage/pre_trained_model 
**.pyc
Documents/Realted Papers/
**/.DS_Store
*/.idea/
*/__pycache__
**/__pycache__
src/animator/__pycache__/SketchAnimation.cpython-38.pyc
src/experiments/saved_models/*
registrationNN/saved_models/experiment1/
src/registrationNN/saved_models/
src/register/__pycache__/
