ASIST_Dataset
src/sketchformer/
**.pyc
Documents/Realted Papers/
**/.DS_Store
*/.idea/
*/__pycache__
**/__pycache__
src/animator/__pycache__/SketchAnimation.cpython-38.pyc
src/experiments/saved_models/*
